body
{
	font-family: calibri,sans,ubuntu;
	font-size: 14px;
	background-image: url('../../images/noise.png');
	background-attachment: fixed;
}
#site_body
{
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}
#nav-bar
{
	width: 100%;
	height: 7%;
	padding: 5px;
	background: -moz-linear-gradient(center top , rgb(0, 136, 200), rgb(0, 100, 204)) repeat scroll 0% 0% transparent;
	position: fixed;
	z-index: 90;
	top: 0px;
	left: 0px;
}
#admin-logo
{
	width: 20%;
	padding: 5px 10px;
	font-size: 30px;
	display: inline-block;
	color: white;
}
#nav-menu
{
	float: right;
	display: inline-block;
	padding: 5px 10px;
	color: white;
	margin-right: 5%;
	line-height: 30px;
}
.nav-opts
{
	display: inline-block;
	padding: 3px 15px;
	cursor: pointer;
}
#body_wrapper
{	
	padding-top: 4%;
	background-color: white;
	box-shadow: 0 0 5px silver;
	border: 1px solid silver;
	position: absolute;
	top: 0%;
	left: 12.5%;
	margin: auto;
	width: 75%;
	min-height: 100%;
	height: auto;
}
#page_loader
{
	padding: 10px;
	height: 100%;
}
#site_footer
{
	width: 100%;
	text-align: center;
	float: left;
	padding: 5px;
	color: grey;
}
#black
{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 99;
	display: none;
}
#signin-ui
{
	position: fixed;
	top: 30%;
	left: 35%;
	width: 30%;
	z-index: 111;
	background-color: white;
	display: none;
}
#signin-ui table
{
	margin: 0 auto;	
	padding: 20px;
	color: #214b7e;
}
.td
{
	text-align: right;
	border: none;
}
#buttons-div
{
	text-align: right;
	padding: 10px;
	border-top: 1px solid #e0e0e0;
	background-color: #f0f0f0;
	border-radius: 0 0 3px 3px;
}
#buttons-div #clear,#login,#post_notice,#edit_notice
{
	background: rgb(0,109,204);
	background-image: linear-gradient(to bottom,#0088CC,#0044CC);
	color: white;
	border: none;
	border-radius: 2px;
	padding: 5px;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	cursor: pointer;
}
#signin-hint
{
	display: none;
	float: left;
	width: 65%;
	text-align: left;
	color: #CC4852; 
}
.txtfld
{
	width: 100%;
	padding: 3px;
	border: 1px solid #d7d8d9;
	color: #214b7e;
	font-size: 14px;
}
#tabs-wrapper
{
	height: 70%;
	padding: 10px;
	float: left;
	border-spacing: 0px;
}
.tabs
{
	padding: 10px;
	cursor: pointer;
	width: 96%;
	border-right: none;
	border-radius: 3px 0 0 3px;
}
#tabs-loader
{
	width: 86%;
	height: 70%;
	min-height: 300px;
	padding: 1%;
	margin-left: 0.8%;
	float: left;
	border-spacing: 0px;
	border-left: 1px dotted rgba(0,0,0,0.1);
}
.tabs_target
{
	padding: 10px;
}
#getin,#getout
{
	
}
#getin:hover,#getout:hover
{
	text-decoration: underline;
}
.div1
{
	display: inline-block;
	margin: 20px;
	padding: 5px;
	text-align: center;
	width: 20%;
	box-shadow: 0 0 5px silver;
	border-radius: 3px;
	border: 5px solid silver;
}
.div11
{
	padding: 10px;
	font-weight: bold;
	font-size: 30px;
}
.div12
{
	padding: 5px;
	font-weight: bold;
	font-size: 20px;
}