.table
{
	width: 100%;
	max-width: 100%;
  	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 2%;
}
.table th,.table td
{
	padding: 10px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #ddd;
}
.table thead th
{
	vertical-align: bottom;
}
.resource-list
{
	width: 100%;
	font-family: arial;
	font-size: 13px;
	margin-bottom: 5px;
	
}
.category
{
	width: auto;
	min-width: 7.5%;
	padding: 6px;
	background-color: #e8e8e8;
	text-align: center;
	color: #555555;
	font-weight: bold;
	display: inline-block;
	font-family: Arial;
	font-size: 11px;
	border: 1px solid #e8e8e8;
	cursor: pointer;
	z-index: 3;
}
a
{
	text-decoration: none;
	color: #434343;
}
.subjectname
{
	background: #6badf6;
	padding: 5px 15px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.td1
{
	cursor: pointer;
	padding: 5px 20px;
	border: 1px solid silver;
	color: #434343;
}
.one
{
	float: left;
}
#category-body
{
	width: 80%;
	margin-top: -0.1%;
	margin-right: 10px;
	border: 1px solid #e8e8e8;
	min-height: 50%;
	z-index: 2;
}
.desc-body
{
	max-width: 100%;
	height: auto;
	min-height: 300px;
	padding: 20px;
}